<!DOCTYPE html>
<html>
  <head>
    <title>Holdings Analyzer</title>
  </head>
  <body>
    <h1>Holdings Analyzer</h1>
    <form action="/report" method="post">
      <label for "barcodes">Barcodes separated by a comma</label>
      <input type="string", name="barcodes">
      <br/><br/>
      <input type="submit">
    </form>
  </body>
</html>

